.sidebar__list {
    padding: 28px 0;
}

.sidebar__list-btn {
    background-size: 10px;

}

.sidebar {

    &__list {
    }

    &__item {
        position: relative;
        color: #000000;
        border-radius: 4px;

        &.active {
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
            background-color: #ffffff;
        }
    }

    &__item-btn {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 15px;
        padding-right: 35px;
        border-radius: 4px;
        transition: 0.3s;

        &:hover {
            background-color: #ffffff;
            box-shadow: 0px 2px 4px rgba(143, 143, 143, 0.1);
        }

        &:hover .sidebar__btn-close {
            opacity: 1;
        }
    }

    &__btn-close {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        opacity: 0;
        transition: 0.3s;
    }

    &__list-i {  
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;

        &--lime {
            background-color: #00ff1a;
        }
        &--green {
            background-color: #42B883;
        }
        &--blue {
            background-color: #64C4ED;
        }
        &--pink {
            background-color: #FFBBCC;
        }
        &--light-green {
            background-color: #B6E6BD;
        }
        &--silver {
            background-color: #C9D1D3;
        }
        &--grey {
            background-color: #747474;
        }
        &--black {
            background-color: #000000;
        }
        &--red {
            background-color: #FF6464;
        }
    }

    &__btn-text {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #000;
        margin-left: 10px;
    }

}